<div class="center-left-warp">
    <div class="center-person c-red"><img src="/images/center-person.png"> <span>个人中心</span></div>
    <div class="center-person-list center-person-list-1">
        <p>订单中心</p>
        <ul>
            <li><a class="center-left-active" href="/center">我的订单</a></li>
            <li><a href="/center/evaluate">评价管理</a></li>
        </ul>
    </div>
    <div class="center-person-list">
        <p>账户管理</p>
        <ul>
            <li><a href="/center/userinfo">账户信息</a></li>
            <li><a href="/center/security">账户安全</a></li>
            <li><a href="#">收货地址管理</a></li>
            <li><a href="/center/invoice">发票信息管理</a></li>
        </ul>
    </div>
    <div class="center-person-list">
        <p>资产管理</p>
        <ul>
            <li><a href="/center/stock">我的存货</a></li>
            <li><a href="/center/coupon">我的优惠券</a></li>
        </ul>
    </div>
    <div class="center-person-list">
        <p>我的关注</p>
        <ul>
            <li><a href="#">关注商品</a></li>
        </ul>
    </div>
    <div class="center-person-list">
        <p>售后服务</p>
        <ul>
            <li><a href="#">退换货</a></li>
            <li><a href="#">补印</a></li>
        </ul>
    </div>
</div>