<div class="w1200 index-cart">
    <ul class="cf">
        <li><a href="/goods"><img src="/images/index_content_18.png"><p>铜版纸名片</p></a></li>
        <li><a href="/goods"><img src="/images/index_content_17.png"><p>特种纸名片</p></a></li>
        <li><a href="/goods"><img src="/images/index_content_16.png"><p>PVC名片</p></a></li>
        <li><a href="/goods"><img src="/images/index_content_15.png"><p>复写单据</p></a></li>
        <li><a href="/goods"><img src="/images/index_content_14.png"><p>圆珠笔</p></a></li>
        <li><a href="/goods"><img src="/images/index_content_13.png"><p>办公桌</p></a></li>
        <li><a href="/goods"><img src="/images/index_content_12.png"><p>桶装水</p></a></li>
        <li><a href="/goods"><img src="/images/index_content_11.png"><p>沙发</p></a></li>
    </ul>
</div>