<footer class="footer c-f2">
    <div class="w1200">
        <ol class="cf">
            <li><img src="/images/index_footer_1.png" alt="门店直送">门店直送</li>
            <li><img src="/images/index_footer_2.png" alt="品质保证">品质保证</li>
            <li><img src="/images/index_footer_3.png" alt="信用保证">信用保证</li>
            <li><img src="/images/index_footer_4.png" alt="无忧售后">无忧售后</li>
            <li><img src="/images/index_footer_5.png" alt="专业设计">专业设计</li>
        </ol>
    </div>
    <div class="w1200">
        <ul class="cf">
            <li class="fl footer-li">
                <h3>新手上路</h3>
                <div>新手上路</div>
                <div>新手上路</div>
                <div>新手上路</div>
                <div>新手上路</div>
            </li>
            <li class="fl footer-li">
                <h3>新手上路</h3>
                <div>新手上路</div>
                <div>新手上路</div>
                <div>新手上路</div>
                <div>新手上路</div>
            </li>
            <li class="fl footer-li">
                <h3>新手上路</h3>
                <div>新手上路</div>
                <div>新手上路</div>
                <div>新手上路</div>
                <div>新手上路</div>
            </li>
            <li class="fl footer-li">
                <h3>新手上路</h3>
                <div>新手上路</div>
                <div>新手上路</div>
                <div>新手上路</div>
                <div>新手上路</div>
            </li>
            <li class="fl footer-li">
                <h3>新手上路</h3>
                <div>新手上路</div>
                <div>新手上路</div>
                <div>新手上路</div>
                <div>新手上路</div>
            </li>
            <li class="fl footer-code">
                <img src="/images/footer_code.png">
                <div>
                    <img src="/images/footer_phone.png"><span>020-31214265</span>
                </div>
                <p class="online-service bg-red">在线客服</p>
                <p>工作时间</p>
            </li>
        </ul>
    </div>
    <div class="footer-bottom">
        <a href="#">版权所有 广州市信印电子商务有限公司 Copyright 2018 - 2019  www.zgxinyin.com All Rights Reserved  粤ICP备18132885号-1</a>
    </div>
</footer>
</body>
</html>
