<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/base.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/css/swiper.css">

    <script type="text/javascript" src="/js/jq.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.0/js/swiper.min.js"></script>
    <script type="text/javascript" src="/js/style.js"></script>
    <script type="text/javascript" src="/js/pagination.js"></script>
</head>
<body>
<header class="header c-f2">
    <div class="fs18 cf">
        <div class="fr"><a href="/users/login">登录 </a> / <a href="/users/register"> 注册</a></div>
    </div>
</header>