<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/base.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.css">
</head>
<body>
<header class="header c-f2">
    <div class="w1200 fs18 cf">
        <div class="fr"><a href="/users/login">登录 </a> / <a href="/users/register"> 注册</a></div>
    </div>
</header>