<div class="right-sider">
    <div>
        <ul>
            <li>
                <a href="/center">
                    <span>个人中心</span>
                    <span class="triangle-border-right"></span>
                    <img src="/images/right-sider-icon-1.png">
                </a>
            </li>
            <li>
                <a href="/center">
                    <span>客服</span>
                    <span class="triangle-border-right"></span>
                    <img src="/images/right-sider-icon-2.png">
                </a>
            </li>
            <li>
                <a href="/center">
                    <span>收藏</span>
                    <span class="triangle-border-right"></span>
                    <img src="/images/right-sider-icon-3.png">
                </a>
            </li>
            <li>
                <a href="/cart">
                    <span>购物车</span>
                    <span class="triangle-border-right"></span>
                    <img src="/images/right-sider-icon-4.png">
                </a>
            </li>
        </ul>
    </div>
</div>