<div class="search w1200">
    <img src="/images/logo.png" alt="logo">
    <input type="text" placeholder="输入您想查找的产品名称、货号、规格"> <span>搜索</span>
    <div class="hot">
        热门搜索：名片  桶装水  复写单据  办公桌
    </div>
</div>