<div class="search w1200">
    <img src="/images/logo.png" alt="logo">
    <form class="search-form" action="">
        <input type="text" placeholder="输入您想查找的产品名称、货号、规格"> <span>搜索</span>
    </form>
    <div class="hot">
        热门搜索：名片  桶装水  复写单据  办公桌
    </div>
</div>
<div class="index-nav w1200 po-re">
    <ul class="cf">
        <li>
            <img src="/images/index_content_1.png">
            全部商品分类
            <ol class="po-ab">
                <li>
                    名片传单本册
                    <div class="index-nav-layer">
                        <div class="inl-list cf">
                            <div class="inl-list-left c-red w100">
                                企业周边 >
                            </div>
                            <div class="inl-list-right">
                                <div class="cf">
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    名片传单本册
                    <div class="index-nav-layer">
                        <div class="inl-list cf">
                            <div class="inl-list-left c-red w100">
                                企业周边 >
                            </div>
                            <div class="inl-list-right">
                                <div class="cf">
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    名片传单本册
                    <div class="index-nav-layer">
                        <div class="inl-list cf">
                            <div class="inl-list-left c-red w100">
                                企业周边 >
                            </div>
                            <div class="inl-list-right">
                                <div class="cf">
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    名片传单本册
                    <div class="index-nav-layer">
                        <div class="inl-list cf">
                            <div class="inl-list-left c-red w100">
                                企业周边 >
                            </div>
                            <div class="inl-list-right">
                                <div class="cf">
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="inl-list cf">
                            <div class="inl-list-left c-red w100">
                                企业周边 >
                            </div>
                            <div class="inl-list-right">
                                <div class="cf">
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="inl-list cf">
                            <div class="inl-list-left c-red w100">
                                企业周边 >
                            </div>
                            <div class="inl-list-right">
                                <div class="cf">
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>
                                    <span><a href="#">桶装水</a></span>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>名片传单本册</li>
                <li>名片传单本册</li>
                <li>名片传单本册</li>
                <li>名片传单本册</li>
                <li>名片传单本册</li>
            </ol>
        </li>
        <li><a href="#">首页</a></li>
        <li><a href="#">企业服务</a></li>
        <li><a href="#">办公装横</a></li>
        <li><a href="#">物流服务</a></li>
        <li><a href="#">设备共享</a></li>
    </ul>

</div>