<%include ../layouts/header.ejs %>
<div class="content">
    <%include ../layouts/search.ejs %>
    <div class="center">
        <div class="w1200 cf">
            <div class="center-left">
                <%include ../layouts/center-sider.ejs %>
            </div>
            <div class="center-right">
                <div class="center-right-top cf">
                    <div class="fl crt-1">
                        <img src="http://placehold.it/120x120">
                    </div>
                    <div class="fl crt-2">
                        <p>18664791629</p>
                        <p>昵称: <span class="c-red">未设置</span></p>
                        <p>账户安全: <span class="center-box"><i style="width: 30%"></i></span> <span class="c-red mgl-5">中</span></p>
                        <p>立即提升</p>
                    </div>
                    <div class="fl crt-3">
                        <p class="crt-3-p1">我的资产中心</p>
                        <p class="crt-3-p2"><img src="/images/center-1.png">账户余额 <span>800元</span></p>
                        <p class="crt-3-p2"><img src="/images/center-2.png">我的优惠券 <span>0张</span></p>
                        <p class="crt-3-p2"><img src="/images/center-3.png">我的存货 <span>0张</span></p>
                    </div>
                    <div class="fl crt-4">
                        <p class="crt-3-p1">地址管理</p>
                        <p class="crt-3-p2"><img src="/images/center-4.png">查看地址</p>
                        <p class="crt-3-p2"><img src="/images/center-5.png">新增地址</p>
                    </div>
                </div>
                <div class="center-right-content">
                    <div class="crc-nav">
                        <span class="c-red">
                            <img src="/images/center-flag.png">
                            全部订单
                        </span>
                        <span>待付款</span>
                        <span>待收货</span>
                        <span>待评价</span>
                    </div>

                    <div class="crc-search">
                        <input type="text" placeholder="输入商品标题或订单号进行搜索"> <span>搜索订单</span>
                    </div>
                </div>

                <div class="center-right-list">
                    <div class="crl-head">
                        <table>
                            <tr>
                                <td>订单信息</td>
                                <td>操作商品</td>
                                <td>订单金额</td>
                                <td>实付款</td>
                                <td>订单状态</td>
                                <td>操作</td>
                            </tr>
                        </table>
                    </div>

                    <div class="crl-body">
                        <div class="crl-body-title"><span>订单号：xxxxxxxxxxx</span> <span>2018-11-26   11:50:51</span></div>
                        <table>
                            <tr>
                                <td class="cf">
                                    <div class="box-70-70 fl">
                                        <img src="http://placehold.it/70x70" alt="">
                                    </div>
                                    <span class="fl mgl-5 w200">得力7810白板檫110*48*40</span>
                                </td>
                                <td>
                                    <p>退/换货</p>
                                    <p>申请售后</p>
                                    <p>投诉</p>
                                </td>
                                <td>￥ 10</td>
                                <td>￥ 10</td>
                                <td>
                                    <p>已完成</p>
                                    <p>订单详情</p>
                                    <p class="center-logistics" data-id="1">查看物流</p>

                                </td>
                                <td>
                                    <p class="crl-body-btn"><a href="/center/evaluate">评价</a></p>
                                    <p>再次购买</p>
                                    <p class="center-invoice" data-id="1">开发票</p>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="crl-body">
                        <div class="crl-body-title"><span>订单号：xxxxxxxxxxx</span> <span>2018-11-26   11:50:51</span></div>
                        <table>
                            <tr>
                                <td class="cf">
                                    <div class="box-70-70 fl">
                                        <img src="http://placehold.it/70x70" alt="">
                                    </div>
                                    <span class="fl mgl-5 w200">得力7810白板檫110*48*40</span>
                                </td>
                                <td>
                                    <p>退/换货</p>
                                    <p>申请售后</p>
                                    <p>投诉</p>
                                </td>
                                <td>
                                    ￥ 10
                                </td>
                                <td>￥ 10</td>
                                <td>
                                    <p>已完成</p>
                                    <p>订单详情</p>
                                </td>
                                <td>
                                    <p class="crl-body-btn">评价</p>
                                    <p>再次购买</p>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="crl-body">
                        <div class="crl-body-title"><span>订单号：xxxxxxxxxxx</span> <span>2018-11-26   11:50:51</span></div>
                        <table>
                            <tr>
                                <td class="cf">
                                    <div class="box-70-70 fl">
                                        <img src="http://placehold.it/70x70" alt="">
                                    </div>
                                    <span class="fl mgl-5 w200">得力7810白板檫110*48*40</span>
                                </td>
                                <td>
                                    <p>退/换货</p>
                                    <p>申请售后</p>
                                    <p>投诉</p>
                                </td>
                                <td>
                                    ￥ 10
                                </td>
                                <td>￥ 10</td>
                                <td>
                                    <p>已完成</p>
                                    <p>订单详情</p>
                                </td>
                                <td>
                                    <p class="crl-body-btn">评价</p>
                                    <p>再次购买</p>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="crc-show-orders c-red">查看所有订单</div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="center-popup">
    <div class="center-bg"></div>
    <div class="center-content">
        <div class="cf">
            <div class="fl box-80-80">
                <img src="http://placehold.it/80x80">
            </div>
            <div class="fl center-popup-box-1">
                <p>配送企业：  <span>顺丰快递</span></p>
                <p>快递单号：  <span>12345689</span></p>
                <p>电话联系：  <span>95538</span></p>
            </div>
        </div>
        <div class="center-content-box">
            <ul>
                <li>
                    <i class="center-popup-icon"></i><p class="center-popup-p-1">订单已签收订单已签收订单已签收订单已签收，期待为您再次服务</p>
                    <p class="center-popup-p-2">2018-11-27     17:09:35</p>
                    <span></span>
                </li>
                <li>
                    <i class="center-popup-icon"></i><p class="center-popup-p-1">订单已签收订单已签收订单已</p>
                    <p class="center-popup-p-2">2018-11-27     17:09:35</p>
                    <span></span>
                </li>
                <li>
                    <i class="center-popup-icon"></i><p class="center-popup-p-1">订单已签收订单已签收订单已签收订单已签收，期待为您再次服务</p>
                    <p class="center-popup-p-2">2018-11-27     17:09:35</p>
                    <span></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="center-invoice-warp">
    <div class="invoice-bg"></div>
    <div class="invoice-content">
        <h5>发票信息</h5>
        <div class="invoice-order-number">
            <span>订单号 : 123456789</span>
        </div>
        <div class="invoice-pop-box">
            <p>发票类型</p>

            <select name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>

        </div>
        <div class="invoice-pop-box">
            <p>发票型号</p>

            <select name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="red-btn invoice-pop-btn">
            开发票
        </div>
    </div>
</div>

<%include ../layouts/footer.ejs %>
<script>
    // 全部订单/待付款/待收货 nav切换
    $(".crc-nav span").click(function () {
        $(".crc-nav span").removeClass("c-red").eq($(this).index()).addClass("c-red");
        // todo ajax
    })
    // 查看所有订单
    $('.crc-show-orders').click(function () {
        $(".crc-nav span").removeClass("c-red").eq(0).addClass("c-red");
        $("html,body").animate({scrollTop:480},1000);//回到顶端
    })
    // 查看物流 显示弹窗
    $(".center-logistics").click(function () {
        var id = $(this).attr("data-id");
        $(".center-popup").show();
    })
    // 关闭弹窗
    $(".center-bg").click(function () {
        $(".center-popup").hide();
    })

    // 开发票
    $(".center-invoice").click(function () {
        var id = $(this).attr("data-id");
        $(".center-invoice-warp").show();
    })
    // 关闭开发票弹窗
    $(".invoice-bg").click(function () {
        $(".center-invoice-warp").hide();
    })
</script>