<%include ../layouts/header.ejs %>
<div class="content">
    <%include ../layouts/search.ejs %>
    <div class="center">
        <div class="w1200 cf">
            <div class="center-left">
                <%include ../layouts/center-sider.ejs %>
            </div>
            <div class="center-right">
                <div class="center-security">
                    <div class="center-security-top cf">
                        <div class="fl box-94-94 cst-box-1">
                            <img src="http://placehold.it/94x94">
                        </div>
                        <div class="fl cst-box-2">
                            <p class="fs16"><span>登录名 : </span> <span class="cst-box-2-span">1234567</span></p>
                            <p class="fs16 cst-box-2-p2">
                                <span>安全级别 : </span>
                                <span class="cst-box-2-span-1">中级</span>
                                <img src="/images/security-icon-1.png">
                                <span class="cst-box-val"><i style="width: 30%"></i></span>
                            </p>
                            <p class="fs14 c-999">建议您启动全部安全设置，保障账户及资金安全</p>
                        </div>
                    </div>

                    <div class="center-security-content">
                        <ul>
                            <li class="cf">
                                <div class="fl">
                                    <img src="/images/security-icon-2.png">
                                </div>
                                <div class="fl">
                                    <p class="fs20">登陆密码</p>
                                    <p class="fs16 c-999">互联网账号存在被盗风险，建议您定期更改密码以保证账户安全</p>
                                </div>
                                <div class="fl">
                                    <span>修改</span>
                                </div>
                            </li>

                            <li class="cf">
                                <div class="fl">
                                    <img src="/images/security-icon-3.png">
                                </div>
                                <div class="fl">
                                    <p class="fs20">手机安全</p>
                                    <p class="fs16 c-999">互联网账号存在被盗风险，建议您定期更改密码以保证账户安全</p>
                                </div>
                                <div class="fl">
                                    <span>修改</span>
                                </div>
                            </li>

                            <li class="cf">
                                <div class="fl"  style="margin-left: -6px">
                                    <img src="/images/security-icon-4.png">
                                </div>
                                <div class="fl">
                                    <p class="fs20">安全邮箱</p>
                                    <p class="fs16 c-999">互联网账号存在被盗风险，建议您定期更改密码以保证账户安全</p>
                                </div>
                                <div class="fl">
                                    <span  style="margin-left: 132px;">修改</span>
                                </div>
                            </li>

                            <li class="cf">
                                <div class="fl" style="margin-left: -6px">
                                    <img src="/images/security-icon-5.png">
                                </div>
                                <div class="fl">
                                    <p class="fs20">安全问题</p>
                                    <p class="fs16 c-999">互联网账号存在被盗风险，建议您定期更改密码以保证账户安全</p>
                                </div>
                                <div class="fl">
                                    <span style="margin-left: 132px;">修改</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<%include ../layouts/footer.ejs %>
<script>

</script>