<%include ../layouts/header.ejs %>
<div class="content">
    <%include ../layouts/search.ejs %>
    <div class="center">
        <div class="w1200 cf">
            <div class="center-left">
                <%include ../layouts/center-sider.ejs %>
            </div>
            <div class="center-right">
                <div class="center-stock">
                    <div class="center-stock-title cf">
                        <span class="c-red">优惠券</span>
                        <span class="cst-search fr">
                            <form action="">
                                <input type="text" placeholder="输入你想查找的优惠券信息">
                                <img src="/images/center-search-icon.png">
                            </form>
                        </span>
                    </div>
                </div>
                <div class="center-coupon">
                    <div class="center-coupon-nav">
                        <ul class="cf">
                            <li class="center-coupon-nav-active">未使用</li>
                            <li>已使用</li>
                            <li>已过期</li>
                        </ul>
                    </div>

                    <div class="center-coupon-content">
                        <ul class="cf">
                            <li class="box-430-110">
                                <img src="/images/coupon-icon-1.png">
                                <div class="ccc-box cf">
                                    <div class="ccc-box-1">
                                        <p class="fs24">¥ <span>100</span></p>
                                        <p>满100元可用</p>
                                    </div>
                                    <div class="ccc-box-2">
                                        <p>全品类通用券</p>
                                        <p class="fs16 c-333 mgt-5">适用平台：全平台</p>
                                        <p class="fs12 c-333 mgt-5">有效期至：2018.12.31</p>
                                    </div>
                                    <div class="ccc-box-3">
                                        详细说明 >
                                    </div>
                                    <span class="ccc-box-4 fs12 c-fff">新到</span>
                                </div>
                            </li>
                            <li class="box-430-110">
                                <img src="/images/coupon-icon-1.png">
                                <div class="ccc-box cf">
                                    <div class="ccc-box-1">
                                        <p class="fs24">¥ <span>100</span></p>
                                        <p>满100元可用</p>
                                    </div>
                                    <div class="ccc-box-2">
                                        <p>全品类通用券</p>
                                        <p class="fs16 c-333 mgt-5">适用平台：全平台</p>
                                        <p class="fs12 c-333 mgt-5">有效期至：2018.12.31</p>
                                    </div>
                                    <div class="ccc-box-3">
                                        详细说明 >
                                    </div>
                                    <span class="ccc-box-4 fs12 c-fff">新到</span>
                                </div>
                            </li>
                            <li class="box-430-110">
                                <img src="/images/coupon-icon-1.png">
                                <div class="ccc-box cf">
                                    <div class="ccc-box-1">
                                        <p class="fs24">¥ <span>100</span></p>
                                        <p>满100元可用</p>
                                    </div>
                                    <div class="ccc-box-2">
                                        <p>全品类通用券</p>
                                        <p class="fs16 c-333 mgt-5">适用平台：全平台</p>
                                        <p class="fs12 c-333 mgt-5">有效期至：2018.12.31</p>
                                    </div>
                                    <div class="ccc-box-3">
                                        详细说明 >
                                    </div>
                                    <span class="ccc-box-4 fs12 c-fff">新到</span>
                                </div>
                            </li>
                            <li class="box-430-110">
                                <img src="/images/coupon-icon-1.png">
                                <div class="ccc-box cf">
                                    <div class="ccc-box-1">
                                        <p class="fs24">¥ <span>100</span></p>
                                        <p>满100元可用</p>
                                    </div>
                                    <div class="ccc-box-2">
                                        <p>全品类通用券</p>
                                        <p class="fs16 c-333 mgt-5">适用平台：全平台</p>
                                        <p class="fs12 c-333 mgt-5">有效期至：2018.12.31</p>
                                    </div>
                                    <div class="ccc-box-3">
                                        详细说明 >
                                    </div>
                                    <span class="ccc-box-4 fs12 c-fff">新到</span>
                                </div>
                            </li><li class="box-430-110">
                                <img src="/images/coupon-icon-1.png">
                                <div class="ccc-box cf">
                                    <div class="ccc-box-1">
                                        <p class="fs24">¥ <span>100</span></p>
                                        <p>满100元可用</p>
                                    </div>
                                    <div class="ccc-box-2">
                                        <p>全品类通用券</p>
                                        <p class="fs16 c-333 mgt-5">适用平台：全平台</p>
                                        <p class="fs12 c-333 mgt-5">有效期至：2018.12.31</p>
                                    </div>
                                    <div class="ccc-box-3">
                                        详细说明 >
                                    </div>
                                    <span class="ccc-box-4 fs12 c-fff">新到</span>
                                </div>
                            </li>
                            <li class="box-430-110">
                                <img src="/images/coupon-icon-1.png">
                                <div class="ccc-box cf">
                                    <div class="ccc-box-1">
                                        <p class="fs24">¥ <span>100</span></p>
                                        <p>满100元可用</p>
                                    </div>
                                    <div class="ccc-box-2">
                                        <p>全品类通用券</p>
                                        <p class="fs16 c-333 mgt-5">适用平台：全平台</p>
                                        <p class="fs12 c-333 mgt-5">有效期至：2018.12.31</p>
                                    </div>
                                    <div class="ccc-box-3">
                                        详细说明 >
                                    </div>
                                    <span class="ccc-box-4 fs12 c-fff">新到</span>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="box pagination" id="wrap1"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<%include ../layouts/footer.ejs %>
<script>

    // nav切换
    $(".center-coupon-nav ul li").click(function () {
        $(".center-coupon-nav ul li").removeClass("center-coupon-nav-active");
        $(this).addClass("center-coupon-nav-active");
    })

    // 分页
    var onPagechange = function(page){
        console.log('当前点击页码',page);
    }
    var obj = {
        wrapid:'wrap1', //页面显示分页器容器id
        total:18891,//总条数
        pagesize:10,//每页显示10条
        currentPage:1,//当前页
        onPagechange:onPagechange,
        //btnCount:7 页数过多时，显示省略号的边界页码按钮数量，可省略，且值是大于5的奇数
    }
    pagination.init(obj);

</script>