<%include ../layouts/header.ejs %>
<div class="content">
    <%include ../layouts/search.ejs %>
    <div class="center">
        <div class="w1200 cf">
            <div class="center-left">
                <%include ../layouts/center-sider.ejs %>
            </div>
            <div class="center-right">
                <div class="center-evaluate">
                    <div class="center-evaluate-top cf">
                        <div class="fl box-90-90 cet-box-1">
                            <img src="http://placehold.it/90x90" alt="">
                        </div>
                        <div class="fl cet-box-2">
                            <p class="fs18">得力7810白板檫110*48*40</p>
                            <p class="fs14 c-999">95213位用户已评</p>
                        </div>
                        <div class="fl fs18 cet-box-3">
                            <p>订单号：xxxxxxxxxxx</p>
                            <p>2018-11-26  11:50:51</p>
                        </div>
                    </div>
                    <div class="center-evaluate-content">
                        <div class="cf">
                            <div class="fl fs18">
                                <span>商品评分 :</span>
                            </div>
                            <div class="fl cec-box-1">
                                <span class="cec-check-star"> <i class="red-star red-star-active"></i><i class="red-star"></i><i class="red-star"></i><i class="red-star"></i><i class="red-star"></i></span>
                                <span class="fs14 c-999">请选择评分</span>
                            </div>
                        </div>
                        <div class="cf">
                            <div class="fl fs18">
                                <span>商品评分 :</span>
                            </div>

                            <div class="fl cec-box-2">
                                <span>很好用</span>
                                <span>好用</span>
                                <span>质量好</span>
                                <span>价格便宜</span>
                                <span>优质</span>
                            </div>
                        </div>

                        <div class="cf" style="margin-top: -10px">
                            <div class="fl fs18">
                                <span>商品评分 :</span>
                            </div>
                            <div class="fl">
                                <textarea placeholder="分享一下你的使用感想吧" class="cec-box-3"  rows="10" cols="30"></textarea>
                            </div>
                        </div>
                        <div class="cf">
                            <div class="fl fs18">
                                <span>晒图 :</span>
                            </div>
                            <div class="fl">
                                <div class="cf center-left" style="width: 430px!important;">
                                    <!--<div class="evaluate-upload fl">-->
                                        <!--<img src="/images/center-bg-btn.png">-->
                                        <!--<input name="evaluate" type="file" onchange="change(this)" >-->
                                    <!--</div>-->
                                    <div class="evaluate-upload fl">
                                        <div class="evaluate-upload-item">
                                            <img class="addImg"  onclick="clickImg(this);" src="/images/center-bg-btn.png" />
                                            <input name="url"  type="file" class="upload_input" onchange="change(this)" />
                                            <div class="preBlock">
                                                <img class="preview1" id="preview1" alt="" name="pic" width="190" height="190" />
                                            </div>
                                            <img class="delete" onclick="deleteImg(this)" src="/images/delete.png" />
                                        </div>
                                    </div>

                                    <div class="fl"><span class="cec-box-4-span">( <span>1</span> /4)</span></div>
                                </div>
                            </div>

                        </div>
                        <div class="cec-submit">
                            提交
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<%include ../layouts/footer.ejs %>
<script>
    // click hover开关
    var isMouseOver = true;
    // 点击星星记录
    var starIndex   = 1;
    // 评价内容记录
    var getCecBoxVals = [];
    // 选择星星评分
    $(".cec-check-star i").click(function () {
        starIndex = $(this).index()+1;
        checkStar(starIndex);
        isMouseOver = false;
        alert(starIndex+"分");
    })

    // 鼠标移入选择星星
    $(".cec-check-star i").hover(function () {
        var index = $(this).index()+1;
        checkStar(index);
        isMouseOver = true;
    },function () {
        if(isMouseOver){
            $(".cec-check-star i").removeClass("red-star-active");
            checkStar(starIndex);
        }

    })
    // 根据index选择商品星星评分
    function checkStar(index) {
        $(".cec-check-star i").removeClass("red-star-active");
        for (var i=0;i<index;i++){
            $(".cec-check-star i").eq(i).addClass("red-star-active");
        }
    }

    // 评价内容选择
    $(".cec-box-2 span").click(function () {
        $(this).hasClass("cec-box-active")?$(this).removeClass("cec-box-active"):$(this).addClass("cec-box-active");
        getCecBoxActive();
        alert(getCecBoxVals);
    })
    // 评价内容选择方法
    function getCecBoxActive() {
        var length = $(".cec-box-active").length;
        getCecBoxVals = [];
        for(var i=0;i<length;i++){
            getCecBoxVals.push($(".cec-box-active").eq(i).html());
        }
    }

    // 图片选择
    //点击
    var clickImg = function(obj){
        $(obj).parent().find('.upload_input').click();
    }
    //删除
    var deleteImg = function(obj){
        // $(obj).parent().find('input').val('');
        // $(obj).parent().find('img.preview1').attr("src","");
        // //IE9以下
        // $(obj).parent().find('img.preview1').css("filter","");
        // $(obj).hide();
        // $(obj).parent().find('.addImg').show();
        $(obj).parent().remove();
        var length = $(".uploadFileIndex").length;
        if(length==3){
            var html = '<div class="evaluate-upload-item">'+
                '<img class="addImg" onclick="clickImg(this);" src="/images/center-bg-btn.png" />'+
                '<input name="url" type="file" class="upload_input" onchange="change(this)" />'+
                '<div class="preBlock">'+
                '<img class="preview1" id="preview1" alt="" name="pic" width="190" height="190" />'+
                '</div>'+
                '<img class="delete" onclick="deleteImg(this)" src="/images/delete.png" />'+
                '</div>';
            $(".evaluate-upload").append(html);
        }
    }

    //选择图片
    function change(file) {
        var isNow = false;
        if($(file).hasClass('uploadFileIndex')){
            isNow = true
        }
        $(file).addClass('uploadFileIndex');
        //预览
        var pic = $(file).parent().find(".preview1");
        //添加按钮
        var addImg = $(file).parent().find(".addImg");
        //删除按钮
        var deleteImg = $(file).parent().find(".delete");

        var ext=file.value.substring(file.value.lastIndexOf(".")+1).toLowerCase();

        // gif在IE浏览器暂时无法显示
        if(ext!='png'&&ext!='jpg'&&ext!='jpeg'){
            if (ext != '') {
                alert("图片的格式必须为png或者jpg或者jpeg格式！");
            }
            return;
        }
        //判断IE版本
        var isIE = navigator.userAgent.match(/MSIE/)!= null,
            isIE6 = navigator.userAgent.match(/MSIE 6.0/)!= null;
        isIE10 = navigator.userAgent.match(/MSIE 10.0/)!= null;
        if(isIE && !isIE10) {
            file.select();
            var reallocalpath = document.selection.createRange().text;
            // IE6浏览器设置img的src为本地路径可以直接显示图片
            if (isIE6) {
                pic.attr("src",reallocalpath);
            }else{
                // 非IE6版本的IE由于安全问题直接设置img的src无法显示本地图片，但是可以通过滤镜来实现
                pic.css("filter","progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale',src=\"" + reallocalpath + "\")");
                // 设置img的src为base64编码的透明图片 取消显示浏览器默认图片
                pic.attr('src','data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
            }
            addImg.hide();
            deleteImg.show();
        }else {
            html5Reader(file,pic,addImg,deleteImg,isNow);
        }
    }
    //H5渲染
    function html5Reader(file,pic,addImg,deleteImg,isNow){
        var file = file.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function(e){
            pic.attr("src",this.result);
        }
        addImg.removeAttr("data-index").hide();
        deleteImg.show();
        if(isNow){
            return false
        }
        if($(".evaluate-upload-item").length<4){
            var html = '<div class="evaluate-upload-item">'+
                '<img class="addImg" onclick="clickImg(this);" src="/images/center-bg-btn.png" />'+
                '<input name="url" type="file" class="upload_input" onchange="change(this)" />'+
                '<div class="preBlock">'+
                '<img class="preview1" id="preview1" alt="" name="pic" width="190" height="190" />'+
                '</div>'+
                '<img class="delete" onclick="deleteImg(this)" src="/images/delete.png" />'+
                '</div>';
            $(".evaluate-upload").append(html);
        }

    }

</script>