body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,dl, dt, dd, ul, ol, li,pre,fieldset,
button, input, textarea,iframe,th, td,img{margin: 0;padding: 0;border: 0 none;font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;font-size: 14px;}
img{vertical-align: top;border: 0 none;}
html,body{min-width:1240px;}
.cf{*zoom:1;}
.cf:after, .cf:before{content:".";height:0;clear:both;visibility:hidden;display:block;}
.fl{float: left;}
.fr{float: right;}
table{ border-collapse:collapse; border-spacing:0; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{color: #999;}
input:-moz-placeholder, textarea:-moz-placeholder {color:#999;}
input::-moz-placeholder, textarea::-moz-placeholder {color:#999;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#999;}
button,input,optgroup,select,textarea {outline: 0;box-sizing: content-box}
address, cite, dfn, em, var,i{ font-style: normal; }
small { font-size: 12px; }
ul, ol,li{ list-style: none; }
abbr[title], acronym[title] {border-bottom: 1px dotted;cursor: help;}
q:before, q:after { content: ''; }
legend { color: #000; }
fieldset, img { border: none; vertical-align:top}
button, input, select, textarea {font-size: 100%;}
table {border-collapse: collapse;border-spacing: 0;}
hr {border: none;height: 1px;}
html { overflow-y: scroll; }
a{text-decoration:none;color: #333333}
a:link{text-decoration:none;outline:none;}
a:visited{text-decoration:none;outline:none;}
a:hover{text-decoration:none;color:#da251d;}
a:active{text-decoration:none;outline:none;}
a:focus{outline:none;}
.cf:after,.cf:before{ content: "";display: table;}
.cf:after{ clear:both;}
.cf{zoom:1;}
.fl{float: left;}
.fr{float: right;}
.fs12{font-size: 12px}
.fs14{font-size: 14px}
.fs16{font-size: 16px}
.fs18{font-size: 18px}
.fs20{font-size: 20px}
.fs24{font-size: 24px}
.fs28{font-size: 28px}
.c-f2{
    background-color: #e6e4e4;
}

.bg-000{
    background-color: #000;
}
.bg-fff{
    background-color: #fff;
}
.bg-red{
    background-color: #da251d;
}
.c-fff{
    color: #fff;
}
.c-999{
    color: #999;
}
.c-666{
    color: #666;
}
.c-333{
     color: #333;
}
.c-000{
    color: #333;
}
.c-red{
    color: #da251d;
}
.c-yellow{
    color: #ff7800;
}
.po-re{
    position: relative;
}
.po-ab{
    position: absolute;
}
.mgl-5{
    margin-left: 5px;
}
.mgl-4{
    margin-left: 4px;
}
.mgl-10{
    margin-left: 10px;
}
.mgl-20{
    margin-left: 20px;
}
.mgt-10{
    margin-top: 10px;
}
.mgt-5{
    margin-top: 5px;
}
.star-1{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(/images/deatil-star-1.png) no-repeat center center;
}

.star-2{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(/images/deatil-star-2.png) no-repeat center center;
}
.check-box{
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    cursor: pointer;
}
.box-240-650 img,.box-235-320 img,.box-474-320 img,.box-474-340 img,.box-235-340 img,.box-240-650 img,
.box-94-94 img,.box-90-90 img,.box-70-70 img,.box-140-140 img, .box-430-110 img{
    width: 100%;
}
.box-430-110{
    width: 430px;
    height: 110px;
    text-align: center;
}
.box-140-140{
    width: 140px;
    height: 140px;
    text-align: center;
}
.box-70-70{
    width: 70px;
    height: 70px;
    text-align: center;
}
.box-90-90{
    width: 90px;
    height: 90px;
    text-align: center;
}
.box-94-94{
    width: 94px;
    height: 94px;
    text-align: center;
}


.box-240-650{
    height: 650px;
    width: 240px;
    text-align: center;
}
.box-235-320{
    width: 235px;
    height: 320px;
    text-align: center;
}
.box-474-320{
    width: 474px;
    height: 320px;
    text-align: center;
}
.box-474-340{
    width: 474px;
    height: 320px;
    text-align: center;
}
.box-235-340{
    width: 235px;
    height: 320px;
    text-align: center;
}
.box-240-650{
    width: 240px;
    height: 650px;
    text-align: center;
}
.box-80-80{
    width: 80px;
    height: 80px;
    text-align: center;
}
.w200{
    width: 200px;
}
.w100{
    width: 100px;
}
.red-star-active{
    display: inline-block;
    width: 22px;
    height: 20px;
    background: url("/images/center-xin-1.png") no-repeat center center !important;
    cursor: pointer;
}
.red-star{
    display: inline-block;
    width: 22px;
    height: 20px;
    background: url("/images/center-xin-2.png") no-repeat center center;
    cursor: pointer;
}
.radio-box{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/images/userinfo-icon-3.png") no-repeat center center;
    cursor: pointer;
}
.radio-box-active{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/images/userinfo-icon-2.png") no-repeat center center;
    cursor: pointer;
}
.red-btn{
    height: 50px;
    width: 150px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    background-color: #da251d;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
}

.line-clamp-1{
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 1;
     overflow: hidden;
 }
.line-clamp-2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.line-clamp-3{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.line-height-30{
    line-height: 30px !important;
}
.line-through{
    text-decoration:line-through;
    color: #da251d;
}

/*分页 start*/
.pagination{text-align: center;margin: 50px 0;}
.pagination-btn{padding:.06rem .1rem;margin-right:4px;border-radius:4px;cursor:pointer;color:#999;display:inline-block;box-sizing:border-box;width:44px;text-align:center}.pagination-wrap{position:relative;display:inline-block;padding-left:0}.pagination-ellipsis{color:#999;position:relative;top:-5px;display:inline-block;padding:0 .12rem;margin-right:4px}.pagination-current{color:#fff;background-color: #da251d}.pagination-disabled{cursor:not-allowed}#pagination-next,#pagination-prev{padding-right:.08rem;padding-left:.08rem}.pagenum{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;vertical-align:middle}
/*分页 end*/