<%include ../layouts/header.ejs %>
    <div class="content">
        <%include ../layouts/search.ejs %>
        <div class="index-content">
            <div class="index-nav w1200 po-re">
                <div class="index-nav-right">
                    <div class="index-right-top" style="display: none">
                        <img src="/images/logo-min.png">
                        <p>欢迎光临信印一站式服务平台</p>
                        <p class="index-login">
                            <span><a class="c-red" href="/users/login">登录</a></span>
                            <span><a href="/users/register">注册</a></span>
                        </p>
                    </div>
                    <div class="index-float">
                        <div class="index-right-join">
                            快捷入口
                        </div>
                        <div class="index-right-list po-re cf">
                            <a href="/center"><div><img src="/images/index_content_2.png"><p>我的订单</p></div></a>
                            <a href="/center"><div><img src="/images/index_content_3.png"><p>充值中心</p></div></a>
                            <span class="index-line po-ab"></span>
                            <a href="/center"><div><img src="/images/index_content_4.png"><p>我的优惠券</p></div></a>
                            <a href="/center"><div><img src="/images/index_content_5.png"><p>我的收藏</p></div></a>
                        </div>
                    </div>

                    <div class="index-nav-product">
                        <img src="http://placehold.it/300x140" alt="">
                    </div>
                    <div class="index-nav-product">
                        <img src="http://placehold.it/300x140" alt="">
                    </div>
                </div>
            </div>
            <div class="index-content-bg">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><span class="swiper-slide-span"><img src="/images/index_content_bg.png"></span></div>
                        <div class="swiper-slide"><span class="swiper-slide-span"><img src="/images/index_content_bg.png"></span></div>
                        <div class="swiper-slide"><span class="swiper-slide-span"><img src="/images/index_content_bg.png"></span></div>
                        <div class="swiper-slide"><span class="swiper-slide-span"><img src="/images/index_content_bg.png"></span></div>

                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>

                    <!-- 如果需要导航按钮 -->
                    <!--<div class="swiper-button-prev"></div>-->
                    <!--<div class="swiper-button-next"></div>-->
                    <!-- 如果需要滚动条 -->
                    <!--<div class="swiper-scrollbar"></div>-->
                </div>

            </div>
        </div>

        <%include ../layouts/classify.ejs %>


        <div class="w1200 index-order">
            <p class="fs28 index-order-title">人气单品</p>
            <ul class="cf">
                <li>
                    <img src="http://placehold.it/240x340">
                    <div class="cf">
                       <div class="fl">
                           <p>铜版纸名片</p>
                           <p class="c-red">最低价：¥ <span class="fs28">100</span></p>
                       </div> 
                        <div class="fr">
                            <img src="/images/index_content_carshop.png">
                        </div>
                    </div>
                    
                </li>
                <li>
                    <img src="http://placehold.it/240x340">
                    <div class="cf">
                        <div class="fl">
                            <p>铜版纸名片</p>
                            <p class="c-red">最低价：¥ <span class="fs28">100</span></p>
                        </div>
                        <div class="fr">
                            <img src="/images/index_content_carshop.png">
                        </div>
                    </div>

                </li>
                <li>
                    <img src="http://placehold.it/240x340">
                    <div class="cf">
                        <div class="fl">
                            <p>铜版纸名片</p>
                            <p class="c-red">最低价：¥ <span class="fs28">100</span></p>
                        </div>
                        <div class="fr">
                            <img src="/images/index_content_carshop.png">
                        </div>
                    </div>

                </li>
                <li>
                    <img src="http://placehold.it/240x340">
                    <div class="cf">
                        <div class="fl">
                            <p>铜版纸名片</p>
                            <p class="c-red">最低价：¥ <span class="fs28">100</span></p>
                        </div>
                        <div class="fr">
                            <img src="/images/index_content_carshop.png">
                        </div>
                    </div>

                </li>

            </ul>
        </div>

        <div class="index-newproduct w1200">
            <p class="fs28 index-order-title">新品上市</p>
            <div class="index-newproduct-warp cf">
                <div class="fl">
                    <div class="box-240-650">
                        <img src="http://placehold.it/240x650">
                    </div>
                </div>
                <div class="fl">
                    <div class="mgl-5 box-474-320">
                        <img src="http://placehold.it/474x320">
                    </div>
                    <div class="mgl-5">
                        <div class="fl box-235-320 mgt-10">
                            <img src="http://placehold.it/235x320">
                        </div>
                        <div class="fl box-235-320 mgt-10 mgl-4">
                            <img src="http://placehold.it/235x320">
                        </div>
                    </div>
                </div>
                <div class="fl">

                    <div class="fl">
                        <div class="box-235-320 mgl-5">
                            <img src="http://placehold.it/235x320">
                        </div>
                        <div class="box-235-320 mgl-5 mgt-10">
                            <img src="http://placehold.it/235x320">
                        </div>
                    </div>
                    <div class="fl">
                        <div class="box-235-320 mgl-5">
                            <img src="http://placehold.it/235x320">
                        </div>
                        <div class="box-235-320 mgl-5 mgt-10">
                            <img src="http://placehold.it/235x320">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="index-newproduct w1200">
            <p class="fs28 index-order-title">热销产品</p>
            <div class="index-newproduct-warp cf">
                <div class="fl">
                    <div class="box-474-340">
                        <img src="http://placehold.it/474x340">
                    </div>

                </div>
                <div class="fl">
                    <div class="fl box-235-340 mgl-5">
                        <img src="http://placehold.it/235x340">
                    </div>
                    <div class="fl box-235-340 mgl-5">
                        <img src="http://placehold.it/235x340">
                    </div>
                    <div class="fl box-235-340 mgl-5">
                        <img src="http://placehold.it/235x340">
                    </div>
                </div>
            </div>
        </div>


        <div class="index-office w1200 cf">
            <p class="fs28 index-order-title">办公用品</p>
            <div class="index-newproduct-warp cf">
                <div class="fl">
                    <div class="box-474-320">
                        <img src="http://placehold.it/474x320">
                    </div>
                    <div class="mgt-10">
                        <div class="box-235-320 fl">
                            <img src="http://placehold.it/235x320">
                        </div>
                        <div class="box-235-320 mgl-4 fl">
                            <img src="http://placehold.it/235x320">
                        </div>
                    </div>
                </div>
                <div class="fl mgl-5">
                    <div class="cf">
                        <div class="box-235-320 fl">
                            <img src="http://placehold.it/235x320">
                        </div>
                        <div class="box-235-320 fl mgl-5">
                            <img src="http://placehold.it/235x320">
                        </div>
                    </div>
                    <div>
                        <div class="box-474-320 mgt-10">
                            <img src="http://placehold.it/474x320">
                        </div>
                    </div>
                </div>
                <div class="fl">
                    <div class="box-240-650 mgl-5">
                        <img src="http://placehold.it/240x650">
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    /**
     * 首页轮播图
     * @type {Swiper}
     */
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'horizontal', // 切换选项
        autoplay: true,
        loop: true, // 循环模式选项
        delay: 5000,//5秒切换一次

        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
            clickable :true,
        },
        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        // 如果需要滚动条
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    })
</script>
<%include ../layouts/footer.ejs %>