<%include ../layouts/header.ejs %>
<div class="content">
    <%include ../layouts/search.ejs %>

    <div class="cart-pay-content">
        <div class="w1200">
            <div class="w1200">
                <div class="cpc-title cf">
                    <span class="fl mgr-20">收货地址</span>
                    <span class="fl c-yellow cpc-add-address">新增地址</span>
                    <span class="fr mgr-20 c-red cpc-show-address">查看全部</span>
                </div>
            </div>
            <div class="center-address-content bg-fff">
                <ul class="cf">
                    <li>
                        <p class="cac-p-1 cf"><span class="fl">马晕</span> <span class="cac-set-defult fr c-red cur cpc-set-defult">设为默认</span></p>
                        <p class="cac-p-2 fs14">省-杭州市-滨江区-江南星座666浙江省-杭州市-滨江区-江南星座666浙江省-杭州市-滨江区-江南星座666</p>
                        <p class="cac-p-3 cf"><span class="fl">123456789</span> <span class="fr"> <span class="cpc-span-edit c-red cur">修改</span><span class="cpc-span-del cur">删除</span></span></p>
                    </li>
                </ul>
            </div>
            <div class="cpc-box bg-fff">
                <h5>配送时间</h5>
                <ul>
                    <li class="cpc-box-active">快递配送</li>
                    <li>顺丰配送</li>
                    <li>线下门店取货</li>
                </ul>
            </div>

            <div class="cpc-box bg-fff">
                <h5>配送方式</h5>
                <ul>
                    <li class="cpc-box-active">不限送货时间</li>
                    <li>工作日送货</li>
                    <li>休息日送货</li>
                </ul>
            </div>

            <div class="cpc-box bg-fff">
                <h5>支付方式</h5>
                <ul>
                    <li class="cpc-box-active">微信</li>
                    <li>支付宝</li>
                    <li>银联</li>
                </ul>
            </div>

            <div class="cart-pay-info bg-fff">
                <h5>商品信息</h5>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th class="pdl-30">商品信息 </th>
                                <th>单价 </th>
                                <th>数量 </th>
                                <th>促销信息 </th>
                                <th class="pdr-30">金额 </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="cf pdl-30">
                                    <div class="box-70-70 fl"><img src="http://placehold.it/70x70"></div>
                                    <div class="fl cpi-td-div-2">
                                        <p class="fs20">桶装水</p>
                                        <p class="fs16">规格: 百岁山 60桶</p>
                                    </div>
                                </td>
                                <td>￥60</td>
                                <td>60</td>
                                <td>开张大促,60桶送10桶</td>
                                <td class="c-red pdr-30">￥720</td>
                            </tr>

                            <tr>
                                <td class="cf pdl-30">
                                    <div class="box-70-70 fl"><img src="http://placehold.it/70x70"></div>
                                    <div class="fl cpi-td-div-2">
                                        <p class="fs20">桶装水</p>
                                        <p class="fs16">规格: 百岁山 60桶</p>
                                    </div>
                                </td>
                                <td>￥60</td>
                                <td>60</td>
                                <td>开张大促,60桶送10桶</td>
                                <td class="c-red pdr-30">￥720</td>
                            </tr>

                            <tr>
                                <td class="cf pdl-30">
                                    <div class="box-70-70 fl"><img src="http://placehold.it/70x70"></div>
                                    <div class="fl cpi-td-div-2">
                                        <p class="fs20">桶装水</p>
                                        <p class="fs16">规格: 百岁山 60桶</p>
                                    </div>
                                </td>
                                <td>￥60</td>
                                <td>60</td>
                                <td>开张大促,60桶送10桶</td>
                                <td class="c-red pdr-30">￥720</td>
                            </tr>

                            <tr>
                                <td class="cf pdl-30">
                                    <div class="box-70-70 fl"><img src="http://placehold.it/70x70"></div>
                                    <div class="fl cpi-td-div-2">
                                        <p class="fs20">桶装水</p>
                                        <p class="fs16">规格: 百岁山 60桶</p>
                                    </div>
                                </td>
                                <td>￥60</td>
                                <td>60</td>
                                <td>开张大促,60桶送10桶</td>
                                <td class="c-red pdr-30">￥720</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="cart-pay-price bg-fff cf">
                <h5>金额信息</h5>
                <div class="cpp-box fr">
                    <div class="cf">
                        <div class="fl">
                            <p>商品件数：</p>
                            <p>商品总价：</p>
                            <p>活动优惠：</p>
                            <p>优惠券折扣：</p>
                            <p>运费：</p>
                            <p>应付总额：</p>
                        </div>
                        <div class="fr">
                            <p>1</p>
                            <p>￥ 720</p>
                            <p>-￥ 120</p>
                            <p>-￥ 0</p>
                            <p>￥ 0</p>
                            <p class="c-red">￥ <span class="fs30">600</span></p>
                        </div>
                    </div>
                    <div class="red-btn cpp-pay-btn">支付订单</div>
                </div>
            </div>


        </div>

    </div>
</div>
<script>
    // 支付方式 配送时间 配送方式选择
  $(".cpc-box ul li").click(function () {
      $(this).addClass("cpc-box-active").siblings().removeClass("cpc-box-active");
      alert(getCpcBoxVal());
  })
    // 获取支付方式 配送时间 配送方式选择 信息 return arr[];
   function getCpcBoxVal() {
       var length = $(".cpc-box").length; // 选择个数
       var arr    = [];                   // 信息初始化
       for (var i=0;i<length;i++){
           arr.push($(".cpc-box").eq(i).find(".cpc-box-active").html());
       }
       return arr;
   }

   // 支付信息
    $(".cpp-pay-btn").click(function () {
        $.myAlert({title:'Title',message:'message',callback:function(){
            alert("支付信息") ;
                $.removeModa();
        }});
    })
    // 新增地址
    $(".cpc-add-address,.cpc-show-address").click(function () {
        window.location.href = '/center/address';
    })

    // 设置默认地址
    $(".cpc-set-defult").click(function () {
        $.myAlert({title:'Title',message:'message',callback:function(){
            alert("设置默认地址") ;
            $.removeModa();
        }});
    })

    // 修改地址信息
    $(".cpc-span-edit").click(function () {
        $.myAlert({title:'地址信息',message:'message',callback:function(){
                alert("修改地址信息") ;
                $.removeModa();
            }});
    })

    // 删除地址信息
    $(".cpc-span-del").click(function () {
        $.myAlert({title:'Title',message:'message',callback:function(){
                alert("删除地址信息") ;
                $.removeModa();
            }});
    })
</script>
<%include ../layouts/footer.ejs %>