<%include ../layouts/header.ejs %>
<div class="login">
    <div class="w1200">
        <div class="login-logo">
            <img src="/images/logo.png">
        </div>
    </div>
    <div class="login-content">

        <div class="w1200 login-message">
            <div class="login-right">
                <div class="login-title">
                    <span><a class="c-red" href="/users/login">登录</a></span>  <span><a href="/users/register">注册</a></span>
                </div>
                <div class="login-input">
                    <div class="login-input-name"><img src="/images/login-head.png" alt=""><input type="text" placeholder="手机号/用户名"> </div>
                    <div class="login-input-pwd po-re">
                        <img src="/images/login-phone.png" alt=""><input type="text" placeholder="密码">
                        <div class="login-eay">
                            <img src="/images/login-close.png">
                            <img src="/images/login-open.png">
                        </div>
                    </div>
                </div>
                <div class="login-in">登录</div>
                <div class="login-forget"><a href="#">忘记密码？</a></div>

                <div class="login-other"><span>其他登录方式</span></div>
                <div class="login-other-btn">
                    <ul class="cf">
                        <li><img src="/images/login-1.png"></li>
                        <li><img src="/images/login-2.png"></li>
                        <li><img src="/images/login-3.png"></li>
                        <li><img src="/images/login-4.png"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="login-bg">
            <img src="/images/login-bg.png">
        </div>
    </div>


</div>
<%include ../layouts/footer.ejs %>