<%include ../layouts/header.ejs %>
<div class="login">
    <div class="w1200">
        <div class="login-logo">
            <img src="/images/logo.png">
        </div>
    </div>
    <div class="login-content">

        <div class="w1200 login-message">
            <div class="login-right">
                <div class="login-title">
                    <span><a href="/users/login">登录</a></span>  <span><a class="c-red" href="/users/register">注册</a></span>
                </div>
                <div class="login-input">
                    <div class="login-input-name"><img src="/images/login-phone.png" alt=""><input type="text" placeholder="手机号/用户名"> </div>

                    <div class="login-input-code"><input type="text" placeholder="输入图片验证码"> <img src="/images/login-code.png"></div>

                    <div class="login-input-phone"><input type="text" placeholder="输入手机验证码"> <span class="login-get-phone">获取验证码</span></div>


                    <div class="login-input-pwd po-re">
                        <img src="/images/login-clock.png" alt=""><input type="text" placeholder="输入密码">
                        <div class="login-eay">
                            <img src="/images/login-close.png">
                            <img src="/images/login-open.png">
                        </div>
                    </div>
                </div>
                <div class="login-in login-register">注册</div>
                <div class="login-agreen">
                    <img src="/images/login-agreen.png"> <span>同意印信注册协议</span>
                </div>
            </div>
        </div>

        <div class="login-bg">
            <img src="/images/login-bg.png">
        </div>
    </div>


</div>
<%include ../layouts/footer.ejs %>