<%include ../layouts/header.ejs %>
<div class="login">
    <div class="w1200">
        <div class="login-logo">
            <img src="/images/logo.png">
        </div>
    </div>
    <div class="register-finsh repair-password">
        <div class="w1200">
            <div class="register-finsh-top">
                <span class="register-finsh-span1">1</span> <span class="register-finsh-text">验证账户信息</span>
                <span class="login-arrow-right"><img src="/images/login-arrow-right.png"></span>
                <span class="register-finsh-span2">2</span> <span class="register-finsh-text">修改密码</span>
                <span class="login-arrow-right"><img src="/images/login-arrow-right.png"></span>
                <span class="register-finsh-span3">3</span><span class="register-finsh-text">完成</span>
            </div>
        </div>

        <div class="w1200 repair-password-box">
            <div>
                <img src="/images/repair-password-icon-1.png"><input type="text" placeholder="请输入新的密码">
            </div>
            <div>
                <img src="/images/repair-password-icon-2.png"><input type="text" placeholder="请再次输入新密码">
            </div>
        </div>

        <div class="red-btn repair-password-next">下一步</div>

    </div>
</div>
<script type="text/javascript" src="/js/jq.js"></script>
<script>

</script>
<%include ../layouts/footer.ejs %>