<%include ../layouts/header.ejs %>
<div class="content">
    <%include ../layouts/search.ejs %>
    <div class="index-content">
        <div class="index-nav w1200 po-re">
            <ul class="cf">
                <li>
                    <img src="/images/index_content_1.png">
                    全部商品分类
                </li>
                <li><a href="#">首页</a></li>
                <li><a href="#">企业服务</a></li>
                <li><a href="#">办公装横</a></li>
                <li><a href="#">物流服务</a></li>
                <li><a href="#">设备共享</a></li>
            </ul>
        </div>
    </div>
    <div style="background-color: #f8f8f8;padding-bottom: 100px;">
        <%include ../layouts/classify.ejs %>
        <div class="detail w1200 cf">
            <div class="detail-left">
                <div class="detail-left-img">
                    <div class="pc-slide">
                        <div class="view">
                            <div class="swiper-container">
                                <!--<a class="arrow-left" href="#"></a>-->
                                <!--<a class="arrow-right" href="#"></a>-->
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="#" target="_blank"><img src="/images/swiper/b1.jpg" alt=""></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" target="_blank"><img src="/images/swiper/b2.jpg" alt=""></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" target="_blank"><img src="/images/swiper/b3.jpg" alt=""></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" target="_blank"><img src="/images/swiper/b4.jpg" alt=""></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" target="_blank"><img src="/images/swiper/b5.jpg" alt=""></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" target="_blank"><img src="/images/swiper/b6.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="preview">
                            <a class="arrow-left" href="#"></a>
                            <a class="arrow-right" href="#"></a>
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide active-nav">
                                        <img src="/images/swiper/s1.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/images/swiper/s2.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/images/swiper/s3.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/images/swiper/s4.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/images/swiper/s5.jpg" alt="">
                                    </div>
                                    <div class="swiper-slide slide6">
                                        <img src="/images/swiper/s6.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="detail-right">
                <h3 class="detail-right-h3">桶装水</h3>
                <div class="detail-right-span">
                    <span>销量:</span><span class="cred">10000</span> <span>|</span> <span>评价:</span><span class="c-red">5560</span><span>|</span> <span>评分:</span>
                    <div class="detail-right-star"><i class="star-2"></i> <i class="star-1"></i> <i class="star-1"></i> <i class="star-1"></i> <i class="star-1"></i></div>
                </div>
                <div class="detail-right-span">
                    <span>配送:</span><span>广东省 广州市 白云区</span> 至
                    <span>
                        <select  class="detail-right-select" name="" id="">
                            <option value="1">北京市 朝阳区 三环内</option>
                            <option value="1">北京市 朝阳区 三环内</option>
                            <option value="1">北京市 朝阳区 三环内</option>
                        </select>
                    </span>
                </div>

                <div>
                    <span>材料:</span>
                    <span>
                        <select  class="detail-right-select" name="" id="">
                            <option value="1">A级普通PVC卡</option>
                            <option value="1">A级普通PVC卡</option>
                            <option value="1">A级普通PVC卡</option>
                        </select>
                    </span>
                </div>
                <div>
                    <span>印刷款数</span>
                    <span>
                        <select  class="detail-right-select" name="" id="">
                            <option value="1">1款</option>
                            <option value="1">A级普通PVC卡</option>
                            <option value="1">A级普通PVC卡</option>
                        </select>
                    </span>
                </div>
                <div>
                    <span>每款张数</span>
                    <span>
                        <select  class="detail-right-select" name="" id="">
                            <option value="1">1张</option>
                            <option value="1">A级普通PVC卡</option>
                            <option value="1">A级普通PVC卡</option>
                        </select>
                    </span>
                </div>

                <div class="detail-right-check" style="margin-top: 0">
                    <span>后道工序</span>
                    <i class="check-box"></i>
                    <i class="check-box"></i>
                    <i class="check-box"></i>
                    <i class="check-box"></i>
                </div>

                <div class="detail-right-check">
                    <span>配送类型</span>
                    <i class="check-box"></i>
                    <i class="check-box"></i>
                    <i class="check-box"></i>
                    <i class="check-box"></i>
                </div>
                <div class="detail-right-check">
                    <span>价格</span>
                    <span class="c-red detail-right-price">￥ 100</span>
                </div>

                <div class="detail-right-order">
                    <span>立即下单</span>
                    <span>加入购物车</span>
                </div>

            </div>
        </div>
        <div class="w1200 cf">
            <div class="detail-footer-left bg-fff">
                <div class="dfl-search">
                    <p>搜索</p>
                    <div>
                        <span>关键字</span>
                        <input class="dfl-input-1" type="text" placeholder="输入查找内容">
                    </div>
                    <div>
                        <span>价格区间</span>
                        <input class="dfl-input-2" style="margin-left: 10px" type="text">
                        <span class="dfl-input-line"></span>
                        <input class="dfl-input-2" type="text">
                    </div>
                    <div>
                        <input class="dfl-input-3" type="text">
                    </div>
                </div>

                <div class="dfl-search">
                    <p>热销排行榜</p>
                    <div class="cf">
                        <div class="fl">
                            <img src="http://placehold.it/80x80">
                        </div>
                        <div class="fl dfl-search-title">
                            <p>桶装水</p>
                            <p>￥ 8元</p>
                        </div>
                    </div>
                    <div class="cf">
                        <div class="fl">
                            <img src="http://placehold.it/80x80">
                        </div>
                        <div class="fl dfl-search-title">
                            <p>桶装水</p>
                            <p>￥ 8元</p>
                        </div>
                    </div>
                    <div class="cf">
                        <div class="fl">
                            <img src="http://placehold.it/80x80">
                        </div>
                        <div class="fl dfl-search-title">
                            <p>桶装水</p>
                            <p>￥ 8元</p>
                        </div>
                    </div>
                    <div class="cf">
                        <div class="fl">
                            <img src="http://placehold.it/80x80">
                        </div>
                        <div class="fl dfl-search-title">
                            <p>桶装水</p>
                            <p>￥ 8元</p>
                        </div>
                    </div><div class="cf">
                        <div class="fl">
                            <img src="http://placehold.it/80x80">
                        </div>
                        <div class="fl dfl-search-title">
                            <p>桶装水</p>
                            <p>￥ 8元</p>
                        </div>
                    </div>
                    <div class="cf">
                        <div class="fl">
                            <img src="http://placehold.it/80x80">
                        </div>
                        <div class="fl dfl-search-title">
                            <p>桶装水</p>
                            <p>￥ 8元</p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="detail-footer-right bg-fff">
                <div class="dfr-nav">
                    <ul class="cf">
                        <li class="dfr-nav-active">商品介绍</li>
                        <li>商品评价 (<span>0</span>)</li>
                        <li>商品咨询 (<span>0</span>)</li>
                    </ul>
                </div>
                <div class="dfr-nav-item">
                    <div class="dfr-nav-title">
                        <ul class="cf">
                            <li>
                                <span>商品名称 : </span>
                                <span>特种纸名片</span>
                            </li>
                            <li>
                                <span>商品名称 : </span>
                                <span>特种纸名片</span>
                            </li>
                            <li>
                                <span>商品名称 : </span>
                                <span>特种纸名片</span>
                            </li>
                            <li>
                                <span>商品名称 : </span>
                                <span>特种纸名片</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <img src="http://placehold.it/920x1200">
                    </div>
                </div>

                <div class="dfr-nav-item dfr-nav-appraise">
                    <p>商品评价</p>
                    <div class="dna-left cf">
                        <div class="fl">
                            <div class="dna-big-color">97%</div>
                            <div class="dna-big-title">好评价</div>
                        </div>
                        <div class="fl dna-good-appraise">
                            <p>好评(24%) <span><i style="width: 20%"></i></span></p>
                            <p>好评(50%) <span><i style="width: 50%" ></i></span></p>
                            <p>好评(70%) <span><i style="width: 70%"></i></span></p>
                        </div>
                        <div class="dna-appraise-line"></div>
                        <div class="dna-impression">
                            <div>大家印象:</div>
                        </div>
                        <div class="dna-impression-list">
                            <span>质量好xxxxxxx</span>
                            <span>质量好xx</span>
                            <span>质量好xx</span>
                            <span>质量好xx</span>
                        </div>
                    </div>
                    <div class="dna-goods-list">
                        <ul>
                            <li class="cf">
                                <div class="fl dgl-1">
                                    <div>
                                        <img src="http://placehold.it/64x64">
                                    </div>
                                    <p>马化腾</p>
                                    <p>腾讯科技</p>
                                </div>
                                <div class="fl dgl-2">
                                    <p>清晰美观不错</p>
                                    <div>
                                        <img src="http://placehold.it/64x64">
                                        <img src="http://placehold.it/64x64">
                                        <img src="http://placehold.it/64x64">
                                        <img src="http://placehold.it/64x64">
                                    </div>
                                </div>
                                <div class="fl dgl-3">
                                    <p>材质：蛋亮纸名片</p>
                                    <p>规格：90*50mm</p>
                                </div>
                                <div class="fl dgl-4">
                                    <i class="star-2"></i>
                                    <i class="star-2"></i>
                                    <i class="star-2"></i>
                                    <i class="star-2"></i>
                                    <i class="star-2"></i>
                                </div>
                                <div class="fl dgl-5">
                                    <p>（2018年11月23日）</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="dfr-nav-item">
                    商品咨询
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        // 详情轮播图
        var viewSwiper = new Swiper('.view .swiper-container', {
            autoplay:false,
            on:{
                slideChangeTransitionStart: function() {
                    updateNavPosition()
                }
            }
        })

        $('.view .arrow-left,.preview .arrow-left').on('click', function(e) {
            e.preventDefault()
            if (viewSwiper.activeIndex == 0) {
                viewSwiper.slideTo(viewSwiper.slides.length - 1, 1000);
                return
            }
            viewSwiper.slidePrev()
        })
        $('.view .arrow-right,.preview .arrow-right').on('click', function(e) {
            e.preventDefault()
            if (viewSwiper.activeIndex == viewSwiper.slides.length - 1) {
                viewSwiper.slideTo(0, 1000);
                return
            }
            viewSwiper.slideNext()
        })
        var previewSwiper = new Swiper('.preview .swiper-container', {
            //visibilityFullFit: true,
            slidesPerView: 'auto',
            allowTouchMove: false,
            on:{
                tap: function() {
                    viewSwiper.slideTo(previewSwiper.clickedIndex)
                }
            }
        })
        function updateNavPosition() {
            $('.preview .active-nav').removeClass('active-nav')
            var activeNav = $('.preview .swiper-slide').eq(viewSwiper.activeIndex).addClass('active-nav')
            if (!activeNav.hasClass('swiper-slide-visible')) {
                if (activeNav.index() > previewSwiper.activeIndex) {
                    var thumbsPerNav = Math.floor(previewSwiper.width / activeNav.width()) - 1
                    previewSwiper.slideTo(activeNav.index() - thumbsPerNav)
                } else {
                    previewSwiper.slideTo(activeNav.index())
                }
            }
        }

        // 商品详情nav切换
        $(".dfr-nav ul li").click(function () {
            $(this).addClass("dfr-nav-active").siblings().removeClass("dfr-nav-active");
            $(".dfr-nav-item").hide();
            $(".dfr-nav-item").eq($(this).index()).show()
        })
    })

</script>
<%include ../layouts/footer.ejs %>