<%include ../layouts/header.ejs %>
<div class="content">
    <%include ../layouts/search.ejs %>
    <%include ../layouts/classify.ejs %>
    <div class="w1200 cf">
        <div class="goods-left">
            <ul>
                <li>名片传单本册</li>
                <li>贴纸海报</li>
                <li>封套收据联单</li>
                <li>办公用品耗材</li>
                <li>周边福利形象</li>
                <li>装潢桌椅灯布</li>
                <li>建站财税金融</li>
                <li>办公材料包装</li>
                <li>商标专利维权</li>
            </ul>
        </div>
        <div class="goods-right">
            <div class="goods-filter">
                <span class="goods-filter-1">排序:</span>
                <span class="goods-filter-2 goods-filter-active">销量<i></i></span>
                <span class="goods-filter-2">价格<i></i></span>
                <span class="goods-filter-2">上架<i></i></span>
            </div>
            <div class="goods-list">
                <ul class="cf">
                    <li>
                        <div class="goods-list-warp">
                            <img src="http://placehold.it/230x300">
                            <p>销量：3W+</p>
                        </div>

                        <p>桶装水</p>
                        <p class="c-red">最低价： <span class="c-red">￥7</span></p>
                        <img class="goods-carshop" src="/images/goods_carshop.png">
                    </li>
                    <li>
                        <div class="goods-list-warp">
                            <img src="http://placehold.it/230x300">
                            <p>销量：3W+</p>
                        </div>

                        <p>桶装水</p>
                        <p class="c-red">最低价： <span class="c-red">￥7</span></p>
                        <img class="goods-carshop" src="/images/goods_carshop.png">
                    </li>
                    <li>
                        <div class="goods-list-warp">
                            <img src="http://placehold.it/230x300">
                            <p>销量：3W+</p>
                        </div>

                        <p>桶装水</p>
                        <p class="c-red">最低价： <span class="c-red">￥7</span></p>
                        <img class="goods-carshop" src="/images/goods_carshop.png">
                    </li>
                    <li>
                        <div class="goods-list-warp">
                            <img src="http://placehold.it/230x300">
                            <p>销量：3W+</p>
                        </div>

                        <p>桶装水</p>
                        <p class="c-red">最低价： <span class="c-red">￥7</span></p>
                        <img class="goods-carshop" src="/images/goods_carshop.png">
                    </li>
                    <li>
                        <div class="goods-list-warp">
                            <img src="http://placehold.it/230x300">
                            <p>销量：3W+</p>
                        </div>

                        <p>桶装水</p>
                        <p class="c-red">最低价： <span class="c-red">￥7</span></p>
                        <img class="goods-carshop" src="/images/goods_carshop.png">
                    </li>
                    <li>
                        <div class="goods-list-warp">
                            <img src="http://placehold.it/230x300">
                            <p>销量：3W+</p>
                        </div>

                        <p>桶装水</p>
                        <p class="c-red">最低价： <span class="c-red">￥7</span></p>
                        <img class="goods-carshop" src="/images/goods_carshop.png">
                    </li>
                    <li>
                        <div class="goods-list-warp">
                            <img src="http://placehold.it/230x300">
                            <p>销量：3W+</p>
                        </div>

                        <p>桶装水</p>
                        <p class="c-red">最低价： <span class="c-red">￥7</span></p>
                        <img class="goods-carshop" src="/images/goods_carshop.png">
                    </li>
                    <li>
                        <div class="goods-list-warp">
                            <img src="http://placehold.it/230x300">
                            <p>销量：3W+</p>
                        </div>

                        <p>桶装水</p>
                        <p class="c-red">最低价： <span class="c-red">￥7</span></p>
                        <img class="goods-carshop" src="/images/goods_carshop.png">
                    </li>
                    <li>
                        <div class="goods-list-warp">
                            <img src="http://placehold.it/230x300">
                            <p>销量：3W+</p>
                        </div>

                        <p>桶装水</p>
                        <p class="c-red">最低价： <span class="c-red">￥7</span></p>
                        <img class="goods-carshop" src="/images/goods_carshop.png">
                    </li>

                </ul>

            </div>
        </div>
        <div class="box pagination" id="wrap3"></div>
    </div>

</div>
<%include ../layouts/footer.ejs %>
<script>
    // 分页
    var onPagechange = function(page){
        console.log('当前点击页码',page);
    }
    var obj = {
        wrapid:'wrap3', //页面显示分页器容器id
        total:18891,//总条数
        pagesize:10,//每页显示10条
        currentPage:1,//当前页
        onPagechange:onPagechange,
        //btnCount:7 页数过多时，显示省略号的边界页码按钮数量，可省略，且值是大于5的奇数
    }
    pagination.init(obj);
</script>